<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://haricodes.com/static/3e3c5a5293142d32ea5cda6a0adcf492/ca411/angular-free-cover.png"
      alt="placeholder image"
    >
  </div>
  <div class="big-card__title">
    <a href="">
      <h1>Angular lança uma nova versão!</h1>
    </a>
  </div>
  <div class="big-card_description">
    <p>
      <a href="">
        Dentre as principas novidades, podemos citar a nota dcumentação, segundo o próprio pessoal do google
      </a>
    </p>
  </div>
</div>
