<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://haricodes.com/static/3e3c5a5293142d32ea5cda6a0adcf492/ca411/angular-free-cover.png"
      cardTitle="Angular lança nova versão!"
      cardDescription="Conheça as novidades e nova documentação da nova versão do Angular lançada pelo Google."
    >

    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://haricodes.com/static/3e3c5a5293142d32ea5cda6a0adcf492/ca411/angular-free-cover.png"
      cardTitle="Title 1"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://haricodes.com/static/3e3c5a5293142d32ea5cda6a0adcf492/ca411/angular-free-cover.png"
      cardTitle="Title 2"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://haricodes.com/static/3e3c5a5293142d32ea5cda6a0adcf492/ca411/angular-free-cover.png"
      cardTitle="Title 3"
    >
    </app-small-card>

  </div>
</div>
